* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css Grids */
.boxes{
    padding: 2rem;
} 

.box0 {
    background: rgb(59,59,59);
    grid-area: nav;
}

.box1 {
    background: lightgrey;
    grid-area: main-info;
}
.box2 {
    background: lightgrey;
    grid-area: main-info1;
}
.box3 {
    background: lightgrey;
    grid-area: main-info2;
}
.box4 {
    background: lightgrey;
    grid-area: main-info3;
}

.box5 {
   background: lightgrey; 
   grid-area: vechicale-info;
}

.box6 {
    background: lightgrey; 
    grid-area: vechicale-info1;

 }

 .box7 {
    background: lightgrey;
    grid-area: vechicale-info2;
 
 }

 .box8 {
    background: lightgrey;
    grid-area: marsian-info; 
 }

 .box9 {
     background: rgb(59,59,59);
     grid-area: foot;
 }
.grid-container {   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    "nav nav"
    "main-info main-info1"
    "main-info2 main-info3"
    "vechicale-info vechicale-info1"
    "vechicale-info2 vechicale-info2" 
    "marsian-info marsian-info"
    "foot foot"      
    ; 
}

/* Main CSS */
body {
    font-size: 62.5%;
}

/* header section */
.logo {
    width: 6rem;
    height: auto;
    display: flex; 
}

/* Circle Progress Bars */
.progress-chart-fl {
    display: flex;
}

.progress-chart-fl .chart-fl {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    font-size: 2rem;
    font-family: 'Roboto';
}

.progress-chart-fl canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-chart-o {
    display: flex;
}

.progress-chart-o .chart-o {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    font-size: 2rem;
    font-family: 'Roboto';
}

.progress-chart-o canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-chart-f {
    display: flex;
}

.progress-chart-f .chart-f {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    font-size: 2rem;
    font-family: 'Roboto';
}

.progress-chart-f canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-chart-w {
    display: flex;
}

.progress-chart-w .chart-w {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    font-size: 2rem;
    font-family: 'Roboto';
}

.progress-chart-w canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Gauge speed Chart */
.gauge-container.three {
}

.gauge-container.three > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
}
.gauge-container.three > .gauge > .value {
  stroke: #C9DE3C;
  stroke-width: 5;
}
.gauge-container.three > .gauge > .value-text {
  fill: #C9DE3C;
}
 

/* Countdown Timer */
.countdown-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.countdown-info {
    font-size: 3rem;
}

/* Population */
